<?xml version="1.0"?>
<launch>
  <arg name="config_file"
       default="$(find livox_reflective_marker)/config/dynamic_reflective_mapping.yaml"/>
  <arg name="filter_config_file"
       default="$(find livox_reflective_marker)/config/reflective_intensity_filter.yaml"/>
  <arg name="start_intensity_filter" default="false"/>
  <arg name="rviz" default="true"/>

  <rosparam command="load" file="$(arg config_file)"/>

  <group if="$(arg start_intensity_filter)">
    <rosparam command="load" file="$(arg filter_config_file)"/>
    <node name="reflective_intensity_filter"
          pkg="livox_reflective_marker"
          type="reflective_intensity_filter_node"
          output="screen"/>
  </group>

  <node name="dynamic_reflective_mapping"
        pkg="livox_reflective_marker"
        type="dynamic_reflective_mapping_node"
        output="screen"
        required="true"/>

  <node if="$(arg rviz)"
        name="dynamic_reflective_mapping_rviz"
        pkg="rviz"
        type="rviz"
        args="-d '$(find livox_reflective_marker)/config/dynamic_reflective_mapping.rviz'">
    <env name="DISABLE_ROS1_EOL_WARNINGS" value="1"/>
  </node>
</launch>
