<?xml version="1.0"?>
<launch>
  <arg name="config_file"
       default="$(find livox_reflective_marker)/config/siamese_bpu_infer.yaml"/>
  <arg name="start_driver" default="true"/>
  <arg name="driver_launch_prefix" default=""/>
  <arg name="driver_output" default="log"/>
  <arg name="start_ekf" default="true"/>
  <arg name="start_traditional_validator" default="false"/>
  <arg name="rviz" default="true"/>

  <rosparam command="load" file="$(arg config_file)"/>

  <group if="$(arg start_driver)">
    <param name="xfer_format" value="1"/>
    <param name="multi_topic" value="0"/>
    <param name="data_src" value="0"/>
    <param name="publish_freq" type="double" value="10.0"/>
    <param name="output_data_type" value="0"/>
    <param name="user_config_path" type="string"
           value="$(find livox_ros_driver2)/config/MID360s_config.json"/>
    <param name="frame_id" type="string" value="livox_frame"/>
    <param name="enable_lidar_bag" type="bool" value="true"/>
    <param name="enable_imu_bag" type="bool" value="true"/>

    <node name="livox_lidar_publisher2"
          pkg="livox_ros_driver2"
          type="livox_ros_driver2_node"
          required="true"
          output="$(arg driver_output)"
          launch-prefix="$(arg driver_launch_prefix)"/>
  </group>

  <node name="siamese_bpu_infer_node"
        pkg="livox_reflective_marker"
        type="siamese_bpu_infer_node"
        output="screen"
        required="true"/>

  <node name="target_manager_node"
        pkg="livox_reflective_marker"
        type="target_manager_node"
        output="screen"
        required="true"/>

  <group if="$(arg start_ekf)">
    <node name="ekf_pose_node"
          pkg="old_pose"
          type="ekf_pose_node"
          output="screen"
          required="true"/>
  </group>

  <node if="$(arg start_traditional_validator)"
        name="traditional_validator"
        pkg="livox_reflective_marker"
        type="traditional_validator_node"
        output="screen"/>

  <node if="$(arg rviz)"
        name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find livox_reflective_marker)/config/bpu.rviz">
    <env name="DISABLE_ROS1_EOL_WARNINGS" value="1"/>
  </node>

  <!-- Resource monitors: algorithm pipeline only; RViz is intentionally excluded. -->
  <node if="$(arg start_driver)"
        name="resource_monitor_driver"
        pkg="livox_reflective_marker"
        type="resource_monitor_node"
        output="screen"/>

  <node name="resource_monitor_bpu"
        pkg="livox_reflective_marker"
        type="resource_monitor_node"
        output="screen"/>

  <node name="resource_monitor_target_manager"
        pkg="livox_reflective_marker"
        type="resource_monitor_node"
        output="screen"/>

  <node if="$(arg start_traditional_validator)"
        name="resource_monitor_traditional_validator"
        pkg="livox_reflective_marker"
        type="resource_monitor_node"
        output="screen"/>

  <node if="$(arg start_ekf)"
        name="resource_monitor_ekf"
        pkg="livox_reflective_marker"
        type="resource_monitor_node"
        output="screen"/>
</launch>
